//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9 (64-bit)
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Fri 10 11 21:18:58 2024

IO_LOC "stt" J16;
IO_PORT "stt" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "TX" M11;
IO_PORT "TX" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SCL" F16;
IO_PORT "SCL" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_LOC "SDA" F14;
IO_PORT "SDA" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_LOC "RST" A2;
IO_PORT "RST" PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "btn1" T10;
IO_PORT "btn1" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
